<nav class="navbar navbar-expand-lg navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse py-2" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto d-flex align-items-center">
        <li class="nav-item">
          <img [src]="foto" onerror="this.src = 'assets/notfoto.jpg' " alt="imagem de perfil" class="rounded-circle img-fluid" width="50" height="50">
        </li>
        <li class="nav-item d-flex align-items-center">
          <a class="pl-3 nav-link text-white mr-3">{{nome}}!</a>
          <a class="nav-link" [routerLink]="['/user-edit', id]"><i class="text-white fa fa-pencil" aria-hidden="true"></i></a>
          
        </li>
      </ul>
      <div>
          <a (click)='sair()' class="nav-link text-light mr-2" href="#">Sair <i class="fa fa-sign-out" aria-hidden="true"></i></a>
      </div>
    </div>
  </nav>
