button{
    color: #fff;
    font-weight: 500;
    border: 1px solid #7D89E7;
    background-color: #7D89E7;
    transition: 2s;
}

button:hover{
    border: 1px solid #7D89E7;
    background-color: transparent;
    color: #7D89E7;
}

input:focus{
    border-color: #02020297;
    box-shadow: none;
}

.container-fluid{
    height: 100vh;
}

