<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-md-6">
      <div class="row d-flex justify-content-center ">
        <div class="entrar col-md-8">
          <h1 class="text-center text-black mb-5 mt-2">Entrar</h1>

          <form>
            <div class="form-group">
              <label for="user" class="text-black">Nome do usuário</label>
                <input [(ngModel)]='usuarioLogin.usuario' type="text fa fa-envelope" class="form-control" name="user" id="user">
            </div>
            <div class="form-group">
              <label for="senha" class="text-black">Senha</label>
              <input  [(ngModel)]='usuarioLogin.senha' type="password" class="form-control" name="senha" id="senha">
            </div>
            <button class="btn w-100 d-block mx-auto" (click)="entrar()" id="btn">Entrar</button>
          </form>

          <hr>
          <p class="text-center">Não tem cadastro ainda? <a routerLink='/cadastrar' class="text-dark"><strong>Cadastre-se</strong></a>
          </p>
        </div>
      </div>
    </div>
      <div class="col-md-6">
        <img src="assets/saly2.png" class="img-fluid" alt="Imagem da tela de login">
      </div>
  </div>
</div>