html{
    scroll-behavior: smooth;
}

.bg-black{
    background-color: #000;
}

.text-black{
    color: #000;
}

#bg-purple{
    background-color: #7D89E7;
}

#text-purple{
    color: #7D89E7;
}

#btn:focus{
    box-shadow: none;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 0px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #7d89e73c;;
  }


