<div class="container-fluid first-content">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-4 my-4">
      <div class="col-md-8">
        <h1 class="mb-4">Bem-vinde ao <span>Blog pessoal</span></h1>
      </div>
      <div class="col-md-12">
        <button class="btn btn-postagem mr-3 mt-2">Nova postagem</button>
        <button class="btn btn-ver mt-2">Ver postagens</button>
      </div>
    </div>
    <div class="col-md-4 my-4">
      <img src="assets/saly3.png" alt="Imagem da tela de inicio" class="img-fluid">
    </div>
  </div>
</div>

<nav>
  <div class="nav nav-tabs d-flex justify-content-center my-5" id="nav-tab" role="tablist">

    <a class="nav-link active text-dark" id="todasPostagens-tab" data-toggle="tab" href="#todasPostagens" role="tab" aria-controls="todasPostagens"
      aria-selected="true">Todas as postagens</a>

    <a class="nav-link text-dark" id="minhasPostagens-tab" data-toggle="tab" href="#minhasPostagens" role="tab"
      aria-controls="minhasPostagens" aria-selected="false">Minhas postagens</a>

    <a class="nav-link text-dark" id="postagensTema-tab" data-toggle="tab" href="#postagensTema" role="tab"
      aria-controls="postagensTema" aria-selected="false">Postagens por tema</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel" aria-labelledby="todasPostagens-tab">todas postagens</div>
  <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="minhasPostagens-tab">minhas postagens</div>
  <div class="tab-pane fade" id="postagensTema" role="tabpanel" aria-labelledby="postagensTema-tab">postagens por tema</div>
</div>