<div class="container-fluid first-content bg-black">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-4 my-4">
      <div class="col-md-10">
        <h1 class="mb-4 text-light">Bem-vindo(a) ao <span id="text-purple">Blog pessoal</span></h1>
        <p class="text-light">Expresse aqui seus pensamentos e opiniões!</p>
      </div>
      <div class="col-md-12">
        <button class="btn btn-postagem mr-3 mt-2 text-light" data-toggle="modal" data-target="#novaPostagem">Nova
          postagem</button>
        <button class="btn btn-ver mt-2"><a href="#postagens">Ver postagens</a></button>
      </div>
    </div>
    <div class="col-md-4 my-4">
      <img src="assets/saly3.png" alt="Imagem da tela de inicio" class="img-fluid">
    </div>
  </div>
</div>

<div class="container-fluid bg-black" id="postagens">
  <div class="row my-2 mx-1">
    <div class="col-md-3">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="post mb-1" id="v-pills-home-tab" data-toggle="pill" href="#todas-postagens" role="tab"
          aria-controls="v-pills-home" aria-selected="true">Todas as postagens</a>

        <a (click)='findByIdUsuario()' class="post mb-1" id="v-pills-profile-tab" data-toggle="pill" href="#minhas-postagens" role="tab"
          aria-controls="v-pills-profile" aria-selected="false">Minhas postagens</a>

        <a class="post mb-3" id="v-pills-messages-tab" data-toggle="pill" href="#postagens-tema" role="tab"
          aria-controls="v-pills-messages" aria-selected="false">Postagens por tema</a>
      </div>
    </div>
    <div class="col-md-9">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="todas-postagens" role="tabpanel" aria-labelledby="v-pills-home-tab">
          <h2 class="mb-3 text-white">Todas as postagens</h2>
          <div class="card mb-2" *ngFor='let item of listaPostagens'>
            <div class="card-body">
              <p class="card-text">
                <small>
                  {{item.data | date: 'dd/MM/yyyy'}}
                  às {{item.data | date: 'HH:mm'}}
                </small></p>
              <h5 class="card-title m-0">{{item.titulo}}</h5>
              <small>Tema: {{item.tema.descricao}}</small>
              <p class="card-text mt-2">{{item.texto}}</p>
              <div class="d-flex flex-column justify-content-end align-items-end">
                <p class="card-text">by: {{item.usuario.nome}}</p>
                <img [src]="item.usuario.foto" onerror="this.src = 'assets/notfoto.jpg' " alt="imagem de perfil"
                  class="rounded-circle" width="50" height="50">
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="minhas-postagens" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          <h2 class="mb-3 text-white">Minhas postagens</h2>
          <div class="card mb-2" *ngFor='let item of usuario.postagens'>
            <div class="card-body">
              <p class="card-text"><small>
                  {{item.data | date: 'dd/MM/yyyy'}}
                  às {{item.data | date: 'HH:mm'}}
                </small></p>
              <h5 class="card-title m-0">{{item.titulo}}</h5>
              <small>Tema: {{item.tema.descricao}}</small>
              <p class="card-text mt-2">{{item.texto}}</p>

              <a [routerLink]="['/postagem-edit', item.id]" class="btn btn-info mr-3" href="">Editar</a>
              <a [routerLink]="['/postagem-delete', item.id]" class="btn btn-danger" href="">Apagar</a>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="postagens-tema" role="tabpanel" aria-labelledby="v-pills-messages-tab">
          <h2 class="mb-3 text-white">Postagens por tema</h2>
          <div *ngFor='let tema of listaTemas'>
            <div class="card mb-2" *ngFor='let item of tema.postagem'>
            <div class="card-body" >
              <p class="card-text">
                <small>
                  {{item.data | date: 'dd/MM/yyyy'}}
                  às {{item.data | date: 'HH:mm'}}
                </small></p>
              <h5 class="card-title m-0">{{item.titulo}}</h5>
              <p class="card-text mt-2">{{item.texto}}</p>
              <div class="d-flex flex-column justify-content-end align-items-end">
                <p class="card-text">by: {{item.usuario.nome}}</p>
                <img [src]="item.usuario.foto" onerror="this.src = 'assets/notfoto.jpg' " alt="imagem de perfil"
                  class="rounded-circle" width="50" height="50">
              </div>
            </div>
          </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
<!--
<div class="container my-5" id="postagens">
  <nav>
    <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">

      <a class="nav-link active text-dark" id="todasPostagens-tab" data-toggle="tab" href="#todasPostagens" role="tab"
        aria-controls="todasPostagens" aria-selected="true">Todas as postagens</a>

      <a class="nav-link text-dark" id="minhasPostagens-tab" data-toggle="tab" href="#minhasPostagens" role="tab"
        aria-controls="minhasPostagens" aria-selected="false">Minhas postagens</a>

      <a class="nav-link text-dark" id="postagensTema-tab" data-toggle="tab" href="#postagensTema" role="tab"
        aria-controls="postagensTema" aria-selected="false">Postagens por tema</a>
    </div>
  </nav>

  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel" aria-labelledby="todasPostagens-tab">
      <div class="card-columns">
        <div class="card text-center" *ngFor='let item of listaPostagens'>
          <div class="card-body">
            <h5 class="card-title">{{item.titulo}}</h5>
            <p class="card-text">{{item.texto}}</p>
            <p class="card-text"><small class="text-muted">
                {{item.data}}
              </small></p>
            <p class="card-text"><small class="text-muted">
                by: {{item.usuario.nome}}
              </small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="minhasPostagens-tab">minhas
      postagens</div>
    <div class="tab-pane fade" id="postagensTema" role="tabpanel" aria-labelledby="postagensTema-tab">postagens por tema
    </div>
  </div>
</div>
-->
<div class="modal fade" id="novaPostagem" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Nova postagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="titulo">Título <small class="text-secondary"> (obrigatório)</small></label>
          <input [(ngModel)]='postagem.titulo' type="text" class="form-control text-black" id="titulo"
            placeholder="Digite o título da nova postagem">
        </div>
        <div class="form-group">
          <label for="texto">Texto <small class="text-secondary">(obrigatório, mínimo 4 caracteres)</small></label>
          <textarea [(ngModel)]='postagem.texto' type="text" class="form-control text-black" id="texto"
            rows="3" placeholder="Digite o texto da nova postagem"></textarea>
        </div>
        <div class="form-group">
          <label for="tema">Escolha um tema ou <a routerLink='/tema' class="text-black"
              data-dismiss="modal"><strong>cadastre um novo</strong> </a></label><small class="text-secondary"> (obrigatório)</small>
          <select class="form-control" id="tema" [(ngModel)]='idTema' (change)='findByIdTema()' placeholder="Selecione um tema">
            <option selected disabled>Selecione um tema</option>
            <option *ngFor='let item of listaTemas' value="{{item.id}}">{{item.descricao}}</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)='publicar()'>Publicar</button>
      </div>
    </div>
  </div>
</div>